<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h3>Контакты</h3>
      <ul>
        <li><i class="fas fa-phone"></i> +7 747 520 2444</li>
        <li><i class="fas fa-envelope"></i> info@goldenfish.kz</li>
        <li><i class="fas fa-map-marker-alt"></i> улица Жалтырколь, 15</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Навигация</h3>
      <ul>
        <li><a th:href="@{/#homes}">Дома</a></li>
        <li><a th:href="@{/#baths}">Бани</a></li>
        <li><a th:href="@{/#gazebos}">Беседки</a></li>
        <li><a th:href="@{/cafe}">Кафе</a></li>
        <li><a th:href="@{/#children-area}">Детский уголок</a></li>
        <li><a th:href="@{/#beach}">Пляж</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Социальные сети</h3>
      <ul class="social-links">
        <li>
          <a href="https://www.instagram.com/golden_fish_001/?hl=ru">
            <i class="fab fa-instagram"></i> Instagram
          </a>
        </li>
        <li>
          <a href="https://api.whatsapp.com/send?phone=77086969447">
            <i class="fab fa-whatsapp"></i> Whatsapp
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2024 Golden Fish. Все права защищены.</p>
  </div>
</footer>
